<aside class="modern-sidebar" [class.collapsed]="isCollapsed()" [class.rtl]="isRTL()"
  [class.has-active-route]="hasActiveRoute()">

  <nav class="sidebar-nav">
    <ul class="nav-list">
      <!-- Icon 1: Home/Dashboard -->
      <li class="nav-item">
        <a routerLink="/" routerLinkActive="nav-link-active" [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link" title="Home">
          <svg version="1.0" class="nav-icon-new" xmlns="http://www.w3.org/2000/svg" width="32.000000pt"
            height="32.000000pt" viewBox="0 0 32.000000 32.000000" preserveAspectRatio="xMidYMid meet">
            <g transform="translate(0.000000,32.000000) scale(0.100000,-0.100000)" stroke="none">
              <path
                d="M93 272 l-63 -37 0 -75 0 -76 65 -37 66 -38 60 34 c34 19 56 37 51 41 -6 3 -33 -7 -61 -23 l-50 -30 -55 30 -56 31 0 66 0 67 55 32 55 32 55 -32 c51 -29 55 -34 55 -69 0 -21 5 -38 10 -38 6 0 10 19 10 43 0 42 -1 43 -65 80 -35 20 -65 37 -67 37 -2 0 -31 -17 -65 -38z" />
              <path
                d="M140 220 c0 -5 16 -10 35 -10 33 0 35 -2 35 -35 0 -19 5 -35 10 -35 6 0 10 20 10 45 l0 45 -45 0 c-25 0 -45 -4 -45 -10z" />
              <path
                d="M90 140 l0 -50 50 0 50 0 0 50 0 50 -50 0 -50 0 0 -50z m80 0 c0 -27 -3 -30 -30 -30 -27 0 -30 3 -30 30 0 27 3 30 30 30 27 0 30 -3 30 -30z" />
              <path d="M285 100 c-3 -6 1 -7 9 -4 18 7 21 14 7 14 -6 0 -13 -4 -16 -10z" />
            </g>
          </svg>
        </a>
      </li>

      <!-- Icon 2: Dashboard -->
      <li class="nav-item">
        <a routerLink="/dashboard" routerLinkActive="nav-link-active" [routerLinkActiveOptions]="{ exact: false }"
          class="nav-link" title="Dashboard">
          <svg version="1.0" class="nav-icon-new" xmlns="http://www.w3.org/2000/svg" width="32.000000pt"
            height="32.000000pt" viewBox="0 0 32.000000 32.000000" preserveAspectRatio="xMidYMid meet">
            <g transform="translate(0.000000,32.000000) scale(0.100000,-0.100000)" stroke="none">
              <path
                d="M50 210 c0 -40 4 -70 10 -70 6 0 10 27 10 60 0 47 3 60 15 60 12 0 15 -13 15 -60 0 -33 4 -60 10 -60 6 0 10 30 10 70 l0 70 -35 0 -35 0 0 -70z" />
              <path
                d="M140 160 c0 -33 4 -60 10 -60 6 0 10 23 10 50 0 38 4 50 15 50 12 0 15 -14 15 -70 0 -40 4 -70 10 -70 6 0 10 33 10 80 l0 80 -35 0 -35 0 0 -60z" />
              <path
                d="M230 110 c0 -27 5 -50 10 -50 6 0 10 18 10 40 0 29 4 40 15 40 11 0 15 -11 15 -40 0 -22 5 -40 10 -40 6 0 10 23 10 50 l0 50 -35 0 -35 0 0 -50z" />
              <path
                d="M40 110 c0 -5 10 -10 22 -10 21 0 20 -2 -10 -33 -42 -43 -28 -57 15 -15 31 30 33 31 33 10 0 -12 5 -22 10 -22 6 0 10 18 10 40 l0 40 -40 0 c-22 0 -40 -4 -40 -10z" />
            </g>
          </svg>
        </a>
      </li>

      <!-- Icon 3: Service Requests -->
      <li class="nav-item">
        <a routerLink="/service-requests" routerLinkActive="nav-link-active"
          [routerLinkActiveOptions]="{ exact: false }" class="nav-link" title="Service Requests">
          <!-- <svg class="nav-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5"
              d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
          </svg> -->
          <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="32.000000pt" class="nav-icon-new"
            height="32.000000pt" viewBox="0 0 32.000000 32.000000" preserveAspectRatio="xMidYMid meet">
            <g transform="translate(0.000000,32.000000) scale(0.100000,-0.100000)" stroke="none">
              <path
                d="M27 264 c-4 -4 -7 -54 -7 -111 l0 -104 138 3 137 3 0 105 0 105 -131 3 c-71 1 -133 -1 -137 -4z m123 -104 l0 -90 -55 0 -55 0 0 90 0 90 55 0 55 0 0 -90z m130 0 l0 -90 -55 0 -55 0 0 90 0 90 55 0 55 0 0 -90z" />
              <path d="M190 210 c0 -5 16 -10 35 -10 19 0 35 5 35 10 0 6 -16 10 -35 10 -19 0 -35 -4 -35 -10z" />
              <path d="M190 160 c0 -5 16 -10 35 -10 19 0 35 5 35 10 0 6 -16 10 -35 10 -19 0 -35 -4 -35 -10z" />
              <path d="M190 110 c0 -5 16 -10 35 -10 19 0 35 5 35 10 0 6 -16 10 -35 10 -19 0 -35 -4 -35 -10z" />
            </g>
          </svg>
        </a>
      </li>

      <!-- Icon 4: Request Log -->
      <li class="nav-item">
        <a routerLink="/service-requests/request-log" routerLinkActive="nav-link-active"
          [routerLinkActiveOptions]="{ exact: true }" class="nav-link" [title]="'navigation.requestLog' | t">
          <!-- <svg class="nav-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5"
              d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg> -->
          <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="32.000000pt" class="nav-icon-new"
            height="32.000000pt" viewBox="0 0 32.000000 32.000000" preserveAspectRatio="xMidYMid meet">
            <g transform="translate(0.000000,32.000000) scale(0.100000,-0.100000)" stroke="none">
              <path
                d="M20 230 l0 -51 48 3 47 3 0 45 0 45 -47 3 -48 3 0 -51z m80 0 c0 -27 -3 -30 -30 -30 -27 0 -30 3 -30 30 0 27 3 30 30 30 27 0 30 -3 30 -30z" />
              <path d="M160 230 c0 -6 30 -10 70 -10 40 0 70 4 70 10 0 6 -30 10 -70 10 -40 0 -70 -4 -70 -10z" />
              <path
                d="M20 91 l0 -51 51 0 50 0 -3 48 -3 47 -47 3 -48 3 0 -50z m80 -1 c0 -27 -3 -30 -30 -30 -27 0 -30 3 -30 30 0 27 3 30 30 30 27 0 30 -3 30 -30z" />
              <path d="M160 90 c0 -6 30 -10 70 -10 40 0 70 4 70 10 0 6 -30 10 -70 10 -40 0 -70 -4 -70 -10z" />
            </g>
          </svg>
        </a>
      </li>
      <!-- Icon 5: my-cases -->
      <li class="nav-item">
        <a routerLink="/my-cases" routerLinkActive="nav-link-active" [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link" [title]="'my-cases' | t">
          <svg class="nav-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5"
              d="M3 7a2 2 0 012-2h5l2 2h7a2 2 0 012 2v10a2 2 0 01-2 2H5a2 2 0 01-2-2V7z" />
          </svg>

        </a>
      </li>
      <!-- Icon 6: fines -->
      <li class="nav-item">
        <a routerLink="/fines" routerLinkActive="nav-link-active" [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link" [title]="'fines' | t">
          <svg class="nav-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <!-- Credit card -->
            <rect x="2" y="5" width="20" height="14" rx="2" ry="2" stroke-width="2.5" />
            <!-- Card stripe -->
            <line x1="2" y1="10" x2="22" y2="10" stroke-width="2.5" />
            <!-- Dollar / currency -->
            <path d="M16 16h1v2h-1v-2zm-4 0h1v2h-1v-2zm2-2v4" stroke-width="2.5" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>




        </a>
      </li>
    </ul>
  </nav>

</aside>