<div *ngIf="isLoading" class="requests-list skeleton-requests-list">
  <div class="request-card skeleton-card">
    <!-- Content -->
    <div class="request-content">
      <div class="skeleton-badge"></div>
      <div class="skeleton-title"></div>
      <div class="skeleton-badge"></div>
      <div class="skeleton-title"></div>
      <div class="skeleton-title"></div>
    </div>
    <div class="request-content">
      <div class="skeleton-badge"></div>
      <div class="skeleton-title"></div>
      <div class="skeleton-badge"></div>
      <div class="skeleton-title"></div>
      <div class="skeleton-title"></div>
    </div>

  </div>
</div>